extends ../layout
block content
    h1 Sign Up Page
    form(action=`${baseRoute}/api/users/${nick}` method='POST' enctype="multipart/form-data")
        label(for='nick') Enter your nick or E-mail:
        input(type='text' id='nick' name='nick' value=`${nick}`)

        label(for='email') Enter your nick or E-mail:
        input(type='email' id='email' name='email' value=`${email}`)

        label(for='password') Enter your password:
        input(type='password' id='password' name='password' value=`${password}`)
        br

        label(for='profile_pic') Select your profile picture
        input(type='file' accept='image/png, image/jpeg' id='profile_pic' name='profile_pic')
        br

        label(for='first_name') Enter you first name:
        input(type='text' id='first_name' name='first_name' value=`${first_name}`)

        label(for='last_name') Enter you last name:
        input(type='text' id='last_name' name='last_name' value=`${last_name}`)
        br

        label(for='date_of_birth') Enter you date of birth:
        input(type='date' id='date_of_birth' name='date_of_birth')
        br

        label(for='preferences') Enter your preferences, separated by comma, no spaces:
        input(type='text' id='preferences' name='preferences' value=`${preferences}`)

        input(type='submit' value='Sign Up')